body {
  background-color: black;
}

.App{
  background-color:bisque;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;

}

#to-do-form input{
  background-color: cornsilk;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
}

#to-do-form::placeholder{
  color: black;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0px;
  background-color:cornsilk;
  cursor: pointer;
  font-weight: bolder;
}